Checks: "-*
, modernize-use-bool-literals
, modernize-use-emplace
, modernize-use-equals-*
, modernize-use-nullptr
, modernize-use-override
, readability-container-*
, readability-named-parameter
, readability-inconsistent-declaration-parameter-name
"
WarningsAsErrors: "*"
