Checks: "-*
, google-explicit-constructor
, misc-const-correctness
, modernize-avoid-bind
, modernize-deprecated-headers
, modernize-loop-convert
, modernize-make-shared
, modernize-make-unique
, modernize-pass-by-value
, modernize-return-braced-init-list
, modernize-use-bool-literals
, modernize-use-emplace
, modernize-use-equals-*
, modernize-use-nullptr
, modernize-use-override
, performance-move-const-arg
, readability-container-*
, readability-else-after-return
, readability-implicit-bool-conversion
, readability-isolate-declaration
, readability-make-member-function-const
, readability-named-parameter
, readability-inconsistent-declaration-parameter-name
"
WarningsAsErrors: "*"
HeaderFilterRegex: ".*"
